.body{
    background: linear-gradient(to bottom, 
    #A0D2EB 0%, 
    #A4CDE6 20%, 
    #A9C9E2 25%, 
    #E5EAF5 30%, 
    #D5C8F2 45%, 
    #D0B0F8 50%, 
    #B79ED7 60%, 
    #9F8BB6 70%, 
    #845BB3 80%, 
    #67688A 90%, 
    #494D5F 100%);
  }

  body {
    background-color: #000000;
    color: white;
  }
  
  .rental-details-title {
    color: rgb(13, 1, 1);
  }
  
  .table-dark {
    background-color: #343a40;
    color: white;
  }
  
  .table-dark th,
  .table-dark td {
    border-color: #454d55;
  }
  
  .btn-group .btn-secondary {
    background-color: #6c757d;
    border: none;
  }
  
  .btn-group .btn-secondary:hover {
    background-color: #5a6268;
  }