body {
    background-color: #000000;
    color: white;
  }
  
  .card {
    background-color: #111111;
  }
  
  .card-header {
    background-color: #111111;
  }
  
  .card-body {
    background-color: #111111;
  }
  
  .form-control {
    background-color: #111111;
    color: white;
  }
  
  .form-control-file {
    background-color: #111111;
    color: white;
  }
  
  .text-danger {
    color: red;
  }