

<div class="container mt-3 ">
    <h2>Car List</h2>
    <div class="row">
      <div *ngFor="let car of allCars" class="col-md-4 mb-3">
        <div class="card">
          <!-- Assuming img is a base64 string representation of the image -->
          <img [src]="'data:image/jpeg;base64,' + car.img" class="card-img-top" alt="Car Image" style="max-width: 100%; max-height: 200px;">
          <div class="card-body">
            <h5 class="card-title">{{ car.make }} {{ car.model }}</h5>
            <p class="card-text">
              <strong>Year:</strong> {{ car.year }}<br>
              <strong>Odometer Reading:</strong> {{ car.odometerReading }}<br>
              <strong>Cost Per Kilometer:</strong> ${{ car.costPerKilometer }}<br>
              <strong>Car Type:</strong> {{ car.type ? car.type.name : 'N/A' }}
            </p>
            <a routerLink="/customer/car-detail/{{car.id}}" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  